/* goo.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Full white background */
    color: #333; /* Dark text */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content {
    max-width: 800px; /* Limits width to 800px */
    width: 100%;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin: 10px 0;
}

p {
    color: #555;
    font-size: 1.1em;
    margin: 10px 0;
    text-align: justify; /* Justifies the text */
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    text-decoration: none;
    color: white;
    background-color: #333;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #555;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
}

.links {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-top: 2px;
}

.links a {
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links img {
    width: 24px;
    height: 24px;
}

.updates {
    margin-top: 30px;
}

.updates h2 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 15px;
}

.updates table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.updates td {
    padding: 15px;
    vertical-align: middle;
}

.updates td img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
}

.cv-container {
    margin-top: 30px;
    width: 100%;
    max-width: 800px;
    height: 500px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}
